body {
  animation: 10s ease-in-out 0s infinite both color-changer
}

.do-wrap {

  width: 90%;
  inline-size: 90%;

  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  word-wrap: break-word;

}

.divide-into {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}

.divide-left {
  grid-column-start: 0;
  grid-column-start: 1;
}

.divide-right {
  grid-column-start: 1;
  grid-column-start: 2;
}

.button-container {
  display: flex;
  flex-flow: row;
  width: 90%;
  flex-wrap: wrap;
}

.button-container > button {
  width: 33%;
  float: left;
  background-color: #877B66;
  border-color: #FFDF64;
  color: #D4E6B5;
}

.do-shift-color {
  animation: 1s ease-in 0s infinite alternate-reverse color-changer
}

@keyframes color-changer {
  0% {
    background-color: #AFC97E;
  }
  50% {
    background-color: #D4E6B5;
  }
  100% {
    background-color: #AFC97E;
  }
}